.form{
    background-color: gray; 
    border:solid; 
    border-color: darkgray;
    width:120px; 
    align-form: center;
margin: auto;  
padding:10px;
}

.input{
    border:solid; border-color: darkgray; width:85px;
    text-align: right;
    text-decoration-color: aqua;
}